html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  text-transform: uppercase;

  // layout//
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pricing-plan {
  border-bottom: 1px solid $borderbtm-color;
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: $header-color;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
  color: $color-text;
}

.pricing-features-item {
  font-weight: 600px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid $borderbtm-color;
}
.pricing-features-item:last-child {
  border-bottom: 1px solid $borderbtm-color;
}
.pricing-price {
  color: $color-text;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid $btn-color-border;
  border-radius: 10px;
  color: $btn-color;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: 250ms ease-in-out;

  &:hover,
  &:focus {
    background-color: $bg-color-hover;
  }
  &.is-featured {
    background-color: $bg-isfeatured;
    color: white;
    &:hover,
    &:focus {
      background-color: $bg-isfeatured-hover;
      color: white;
    }
  }
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid $borderside-color;
    padding: 25px 50px;

    &:last-child {
      border-right: none;
    }
  }
}
