// Colors
$bg-color: #588157;
$borderbtm-color: #dad7cd;
$borderside-color: #dad7cd;
$header-color: #888;
$color-text: #344e41;

// Colors - button
$btn-color-border: #a3b18a;
$brn-color: #344e41;
$bg-color-hover: #dad7cd;
$btn-color: #344e41;

$bg-isfeatured: #588157;
$bg-isfeatured-hover: #3a5a40;
